#customizeScreen {
    background-color: #bebebe;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    button {
        transform: scale(0.8);
    }

    #puzzleDetails {
        margin: auto;
    }

    .detailsOptions {
        margin-top: 10px;

        button {
            margin: 5px;
        }
    }

    .colours {
        background-color: rgb(255, 255, 255);
        margin: 5 0 0;
    }

    .bottomBar {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .customOptions {
        margin: auto;

        h6 {
            margin: 10 0 0;
            font-size: 16;
            padding: 3px;
            // -webkit-text-stroke: 1px black;
            background-color: rgba(53, 53, 53, 0.519);
        }

        .finishCustomization {
            display: inline;
            width: 75%;
            margin: 10;
        }
        
        .customTarget {
            display: grid;
            grid-template-columns: 50% 50%;
            margin: auto;
        }

        .option {
            margin: 10px;
            width: 50px;
            height: 50px;
            border: outset 3px rgb(166, 166, 166);
        }

        .selected {
            border-style: inset;
        }

        .board {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-row: auto auto;

            .dark {
                background-color: #b58863;
            }

            .light {
                background-color: #f0d9b5;
            }
        }

        .background {
            background-color: #bebebe;
        }

        .colour {
            display: inline-block;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            margin: 8px 3px 3px 3px;
            border: solid 2px rgba(74, 74, 74, 0.414);
        }

        #photo {
            display: inline-block;
            width: 32px;
            margin: 5px;
        }

        .chosen {
            border: solid 2px rgb(0, 0, 0);
        }

        .default {
            background-color: #b58863;
        }

        .red {
            background-color: #ea2929;
        }

        .pink {
            background-color: #dd0fa6;
        }

        .purple {
            background-color: #6708c6;
        }

        .blue {
            background-color: #4654f2;
        }

        .cyan {
            background-color: #089ea6;
        }        

        .green {
            background-color: #0c8821;
        }

        .grey {
            background-color: #696969;
        }

        .bgDefault {
            background-color: #bebebe;
        }

        .bgRed {
            background-color: #fa7575;
        }

        .bgYellow {
            background-color: #f1d293;
        }

        .bgPurple {
            background-color: #e39ef6;
        }

        .bgBlue {
            background-color: #a0c6f9;
        }

        .bgCyan {
            background-color: #6ff1d7;
        }

        .bgGreen {
            background-color: #7ff6a9;
        }
    }
}
