#customizeScreen {
    background-color: #e350b0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    #puzzleDetails {
        margin: auto;
    }

    .colours {
        background-color: rgb(255, 255, 255);
        margin-top: 0.7vh;
    }

    .bottomBar {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .customOptions {
        margin: auto;

        h6 {
            margin: 1.5vh 0 0;
            font-size: 2.2vh;
            font-weight: 700;
            padding: 0.4vh;
            background-color: rgba(53, 53, 53, 0.519);
        }

        .finishCustomization {
            display: inline;
            width: 75%;
            margin-top: 2.3vh;
        }
        
        .customTarget {
            display: grid;
            grid-template-columns: 50% 50%;
            margin: auto;
        }

        .option {
            margin: 2vh;
            width: 13vw;
            height: 13vw;
            border: outset 3px rgb(166, 166, 166);
        }

        .selected {
            border-style: inset;
        }

        .board {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-row: auto auto;

            .dark {
                background-color: #aa3486;
            }

            .light {
                background-color: #f5daed;
            }
        }

        .background {
            background-color: #e350b0;
        }

        .colour {
            display: inline-block;
            border-radius: 50%;
            width: 7vw;
            height: 7vw;
            margin: 1vw;
            // margin: 8px 3px 3px 3px;
            border: solid 2px rgba(74, 74, 74, 0.414);
        }

        #photo {
            display: inline-block;
            width: 7vw;
            margin: 1vw;
        }

        .chosen {
            border: solid 2px rgb(0, 0, 0);
        }

        .default {
            background-color: #aa3486;
        }

        .tan {
            background-color: #b58863;
        }

        .red {
            background-color: #ea2929;
        }

        .purple {
            background-color: #6708c6;
        }

        .blue {
            background-color: #4654f2;
        }

        .cyan {
            background-color: #089ea6;
        }        

        .green {
            background-color: #0c8821;
        }

        .grey {
            background-color: #696969;
        }

        .bgDefault {
            background-color: #e350b0;
        }

        .bgRed {
            background-color: #fa7575;
        }

        .bgYellow {
            background-color: #f1d293;
        }

        .bgPurple {
            background-color: #e39ef6;
        }

        .bgBlue {
            background-color: #a0c6f9;
        }

        .bgCyan {
            background-color: #6ff1d7;
        }

        .bgGreen {
            background-color: #7ff6a9;
        }
    }
}
