#menuScreen {
    background-color: #f156bb;

    .title {
        width: 60%;
        margin-top: 50px;
    }

    .options {
        width: 90%;
        margin: auto;
        margin-bottom: 20px;

        p {
            border: solid 1px black;
            padding: 20px 40px 35px 40px;
            color: white;
            background-color: black;
            font-size: large;
        }

        button {
            margin-top: -40px;
            min-width: 160px;
        }

        .chooseImg {
            width: 50%;
            margin-bottom: -60px;
            margin-top: -10px;
        }

        .competeImg {
            width: 40%;
            margin-bottom: -50px;
        }
    }
}
