#menuScreen {
    background-color: #f156bb;
    background-image: url("./img/assets/background_2.png");

    .options {
        width: 90%;
        margin: auto;
        margin-bottom: 2.5vh;

        p {
            border: solid 1px black;
            padding: 20px 40px 35px 40px;
            color: white;
            background-color: black;
            font-size: 2.3vh;
        }

        button {
            margin-top: -40px;
            min-width: 40vw;
            font-size: 3vh;
        }

        .chooseImg {
            width: 50%;
            margin-bottom: -60px;
            margin-top: -1.5vh;
        }

        .competeImg {
            width: 40%;
            margin-bottom: -50px;
        }
    }
}
