#recordingScreen {
    background-color: #f156bb;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    .recordingContent {
        transform: scale(0.9);
        position: absolute;
        top: -36;
        left: 10;
    }

    .colourToMove {
        width: 100%;
    }

    #puzzleRecord {
        margin: auto;
    }

    .competeImg {
        position: absolute;
        width: 80%;
        bottom: -5%;
        left: -5%;
    }

    .attempts {
        font-size: 35px;
        -webkit-text-stroke: 1px black;
        position: absolute;
        left: 0;
        right: 0;
        top: -18%;
        z-index: 3;
    }

    .moveControls {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 0;

        img {
            width: 40px;
            margin-top: 10;
        }
    }

    .faded {
        opacity: 0.5;
    }

    .nextMove {
        margin-left: 80%;
    }

    .skipMoves {
        position: absolute;
        font-size: 15;
        transform: scale(0.8);
        bottom: -1%;
        right: 10%;
        width: 140;
    }
}
