#recordingScreen {
    background-color: rgb(43, 136, 243);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    #puzzleRecord {
        margin: auto;
        // margin-top: -50px;
    }

    .topBar {
        columns: 2;
    }

    .attempts {
        font-size: 35px;
        -webkit-text-stroke: 1px black;
        position: absolute;
        left: 0;
        right: 0;
        top: -18%;
        z-index: 3;
    }

    .moveControls {
        columns: 2;
    }

    button {
        background-color: #F5F7FA;
        transform: scale(0.7);
    }

    .prevMove {
        left: 0;
    }

    .nextMove {
        right: 0;
    }
}
