#selectionScreen {
    background-color: #82c9f9;

    #selectTopBar {
        position: absolute;
        width: 100%;
    }

    #puzzleList {
        margin-top: 100px;
        display: grid;
        grid-template-columns: 50% 50%;
        height: 75%;
        overflow: auto;
    }

    .contents h4 {
        font-family: "Bungee", sans-serif;
        margin-bottom: 0;
    }

    .puzzle {
        margin: auto;
        margin-bottom: 10px;
    }
    
    .sortOptions {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        border: solid 1px black;
        background-color: #848484;
        width: 80%;

        button {
            margin: 10px;
            font-size: 16px;
        }

        .close {
            font-size: 20px;
            margin: 5px;
            position: absolute;
            min-width: 55px;
            background-color: white;
            top: 0;
            right: 0;
            border-radius: 50%;
        }
    }
}
