#selectionScreen {
    background-color: #52FF00;

    #topbar {
        position: absolute;
    }

    #puzzleList {
        margin-top: 100px;
        display: grid;
        grid-template-columns: 50% 50%;
        height: 75%;
        overflow: auto;
    }

    .contents h4 {
        font-family: "Bungee", sans-serif;
        margin-bottom: 0;
    }

    .puzzle {
        margin: auto;
        margin-bottom: 10px;
    }
    
    .sortOptions {
        position: fixed;
        z-index: 1;
        border: solid 1px black;
        background-color: #00ff91;

        .close {
            text-align: right;
        }
    }
}
