#selectionScreen {
    background: radial-gradient(#f595d3 5%, #f157bb 40%, #b53c8a 70%, #5b1542);

    h3 {
        font-size: x-large;
        margin-top: 45px;
        margin-bottom: 10px;
    }

    #selectTopBar {
        position: absolute;
        width: 100%;
        margin-top: 10px;

        #sortButton {
            position: absolute;
            width: 30px;
            right: 20;
            margin-top: 5px;
        }

        #randomPuzzleButton {
            transform: scale(0.6);
        }
    }

    #puzzleList {
        margin-top: 80px;
        display: grid;
        grid-template-columns: 50% 50%;
        height: 80%;
        overflow: auto;
    }

    .detailsWindow {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #707070;
        border-radius: 5%;
        color: white;
        padding: 10px;
        border: solid 2px black;
        width: 90%;
    }

    #puzzleInfo {
        margin: auto;
        margin-left: -1;
    }

    .mainContent {
        display: grid;
        grid-template-columns: 50% 50%;
        column-gap: 10px;
        margin: 50px 0 20px 0;
    }

    .details {
        margin-top: 5px;
    }

    .info {
        text-align: left;
        margin-bottom: 5px;
        
        p {
            margin: 0;
            font-size: 10px;
        }

        h4 {
            margin: 0;
            font-size: 15px;
        }
    }

    .contents h4 {
        font-family: "Bungee", sans-serif;
        margin-bottom: 0;
    }

    .puzzle {
        margin: auto;
        margin-bottom: 10px;
    }
    
    .sortOptions {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        background: radial-gradient(60% 150%,#5e0041 40%, #2c0820);
        width: 80%;
        padding: 10px 10px 20px 10px;

        h5 {
            font-size: larger;
            margin: 20px 10px 20px 10px;
        }

        button:not(.close) {
            min-height: 30px;
            color: white;
            width: 100%;
            margin: 0 5px 0 5px;
            font-size: 20px;
            font-weight: lighter;
            background: none;
            text-align: left;
        }

        hr {
            width: 90%;
        }

        .indicator {
            position: absolute;
            right: 35;
            margin-top: -35px;
            width: 30px;
            transform: rotate(90deg);
            opacity: 0;
        }

        .selected {
            opacity: 1;
        }
    }

    .close {
        margin: 5px;
        position: absolute;
        width: 20px;
        top: 10;
        right: 10;
    }
}
